version: "3"

services:
  dev:
    container_name: c-py
    image: who0joe/c-py
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    volumes:
      - ../:/workspace:consistent
    restart: always
    command: sleep infinity # cmd 명령어를 찾지 못해 죽는거 방지
    # networks:
    #   - bridge

# networks:
#   bridge:
#     driver: bridge